@import "_layoutVariables";
@import "_gameVariables";

#viewport {
    position: relative;
}

#infoScreen {
    position: absolute;
    margin: $borderWidth/4;

    width: 10*$blockSize;
    height: 20*$blockSize;
    line-height: 20*$blockSize;

    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
    text-align: center;

    font-family: 'DOS_VGA';
    font-size: 50px;
    color: white;

    display: none;
    z-index: 99999;

    &.infoScreen-show {
        display: block;
    }

    & span {
        display: inline-block;
        line-height: 60px;
        margin: 10px;
    }
}

// 10x20 blocks
#gameboard {
    width: 10*$blockSize;
    height: 20*$blockSize;

    background-color: black;
    
    /*
    background-image: linear-gradient(gray 40px, transparent 40px),
                linear-gradient(90deg, gray 40px, transparent 40px);
    background-size: 80px 80px;
    */

    margin: 0;

    position: relative;
    overflow: hidden;
}

.border {
    margin: 0;
}

$borderColor: #898989;
$borderBackground: darken($borderColor, 13%);

.border-outer {
    @extend .border;

    padding: $borderWidth/2;
    border-style: solid;
    border-width: $borderWidth/4;
    border-color: lighten($borderColor, 3%) 
        darken($borderColor, 35%) 
        darken($borderColor, 35%)
        lighten($borderColor, 3%);
    
    background-color: $borderBackground;
}

.border-inner {
    @extend .border;

    padding: 0;
    
    border-style: solid;
    border-width: $borderWidth/4;
    border-color: darken($borderColor, 35%) 
        lighten($borderColor, 3%) 
        lighten($borderColor, 3%)
        darken($borderColor, 35%);
}

$indicatorWidth: 200px;

.indicator {
    display: block;

    position: absolute;
    right: 3px;

    width: $indicatorWidth;

    font-family: 'DOS_VGA';
    font-size: 20px;
    color: yellow;

    background-color: black;

    padding: 8px;

    span {
        display: block;

        &.pull-right {
            float: right;
        }
    }

    span#pointsDisplay {
        display: inline-block;
    }
}

#levelIndicator {
    @extend .indicator;

    top: 0px;
}

#pointsIndicator {
    @extend .indicator;

    top: 78px;
}

#nextBlock {
    @extend .indicator;

    top: 157px;
    height: 150px;

    .fillBox {
        width: 100%;
        height: 100%;
        position: relative;
    }

    span {
        float: left;
    }

    #nextBlockDisplay {
        position: absolute;   
    }
}

#copyLeft {
    @extend .indicator;

    bottom: 10px;

    padding: 0;
    width: 235px;
    height: 100px;

    color: white;

    background-color: $borderBackground;
    background-image: url('assets/copyleft.png');
    background-repeat: no-repeat;

    text-align: center;
    vertical-align: middle;
    line-height: 105px;
    span {
        margin-right: -68px;
    }

    &:hover {
        background-image: url('assets/copyleft.gif');
    }
}
