@import "_tetrisColors";

/* layout size */
$containerWidth: 800px;
$borderWidth: 20px;
$borderColor: #898989;

body {
    margin: 0;
    padding: 0;

    background: url('../assets/layout_background.gif') repeat;
    background-size: 256px 256px;

    min-width: 758px;
}

@font-face {
    font-family: 'DOS_VGA';
    src: url('../assets/DOS_VGA.ttf');
    font-weight: normal;
    font-style: normal;
}

#game_title {
    font-family: 'DOS_VGA';
    font-size: 128px;
    color: white;

    text-align: center;
    letter-spacing: -5px;

    margin: 0;
    padding-top: 16px;
    padding-bottom: 32px;

    background: linear-gradient(
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.1)
    );

    span:nth-child(1) {
        color: $tetrisLime;
    }

    span:nth-child(2) {
        color: $tetrisCyan;
    }

    span:nth-child(3) {
        color: $tetrisRed;
    }

    span:nth-child(4) {
        color: $tetrisOrange;
    }

    span:nth-child(5) {
        color: $tetrisBlue;
    }

    span:nth-child(6) {
        color: $tetrisMagenta;
    }
}

$viewportWidth: 640px;
$viewportHeight: 800px;

#container {
    width: $viewportWidth+$borderWidth*2;
    height: $viewportHeight+$borderWidth*2;

    padding: 0;
    margin: 0;

    display: block;
    margin: auto;

    #viewport {
        position: relative;
    }
}

// 10x20 blocks
$blockSize: 40px;
#gameboard {
    width: 10*$blockSize;
    height: 20*$blockSize;

    background-color: black;
    margin: 0;
}

.border {
    margin: 0;
}

$borderBackground: darken($borderColor, 13%);

.border-outer {
    @extend .border;

    padding: $borderWidth/2;
    border-style: solid;
    border-width: $borderWidth/4;
    border-color: lighten($borderColor, 3%) 
        darken($borderColor, 35%) 
        darken($borderColor, 35%)
        lighten($borderColor, 3%);
    
    background-color: $borderBackground;
}

.border-inner {
    @extend .border;

    padding: 0;
    
    border-style: solid;
    border-width: $borderWidth/4;
    border-color: darken($borderColor, 35%) 
        lighten($borderColor, 3%) 
        lighten($borderColor, 3%)
        darken($borderColor, 35%);
}

$indicatorWidth: 200px;

.indicator {
    display: block;

    position: absolute;
    right: 3px;

    width: $indicatorWidth;

    font-family: 'DOS_VGA';
    font-size: 20px;
    color: yellow;

    background-color: black;

    padding: 8px;

    span {
        display: block;

        &.pull-right {
            float: right;
        }
    }
}

#levelIndicator {
    @extend .indicator;

    top: 0px;
}

#pointsIndicator {
    @extend .indicator;

    top: 78px;
}

#nextBlock {
    @extend .indicator;

    top: 157px;
}

#copyLeft {
    @extend .indicator;

    bottom: 10px;

    padding: 0;
    width: 235px;
    height: 100px;

    color: white;

    background-color: $borderBackground;
    background-image: url('assets/copyleft.png');
    background-repeat: no-repeat;

    text-align: center;
    vertical-align: middle;
    line-height: 105px;
    span {
        margin-right: -68px;
    }

    &:hover {
        background-image: url('assets/copyleft.gif');
    }
}


