
$menuColor: yellow;

#menu {
    color: lighten(desaturate($menuColor, 20%), 30%);
    font-family: 'DOS_VGA';

    width: 380px;
    margin: auto;
}

#settings {
    color: lighten(desaturate($menuColor, 20%), 30%);
    font-family: 'DOS_VGA';

    width: 380px;
    margin: auto;

    .menu-title {
        font-size: 45pt;
        margin-left: -90px;
        margin-right: -90px;
        text-align: center;
    }

    .menu-help-text {
        margin-left: 0;
    }

    .option-value {
        margin-left: 80px;
    }
}

.menu-title {
    font-size: 64pt;
}

ul.menu-options {
    list-style: none;
    font-size: 25pt;

    margin: 0;
    padding: 0 0 0 48px;
    min-height: 220px;

    li {
        &.active {
            margin-left: -65px;
            font-size: 40pt;
            color: #FF940A;

            &::before {
                content: "> ";
            }
        }

        &.surround-active {
            font-size: 30pt;
        }

        &.with-separator {
            margin-top: 64px;
        }
    }
}

.menu-help-text {
    font-size: 18pt;
    
    margin-top: 90px;
    width: 600px;
    margin-left: -41px;
}

