@import "_gameVariables";

.stone {
    width: $blockSize;
    height: $blockSize;

    // absolute to gameboard
    position: absolute;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    top: 0px;
    left: 0px;

    &:hover {
        top:100px;
        left:120px;
    }

    @mixin bg($color) {
        background-image: url('assets/tetris_stone_#{$color}.png');
    }

    @mixin ghost-bg($color) {
        @include bg($color);
        opacity: 0.25;
    }


    &.stone-green { @include bg('green'); }
    &.stone-red { @include bg('red'); }
    &.stone-blue { @include bg('blue'); }
    &.stone-gray { @include bg('gray'); }
    &.stone-orange { @include bg('orange'); }
    &.stone-purple { @include bg('purple'); }

    &.stone-ghost-green { @include ghost-bg('green'); }
    &.stone-ghost-red { @include ghost-bg('red'); }
    &.stone-ghost-blue { @include ghost-bg('blue'); }
    &.stone-ghost-gray { @include ghost-bg('gray'); }
    &.stone-ghost-orange { @include ghost-bg('orange'); }
    &.stone-ghost-purple { @include ghost-bg('purple'); }

    /* 2 first rows of gameboard are hiden,
     * we use m2 to signify -2 row.
     */
    @for $col from 0 through 9 {
        @for $row from 1 through 2 {
            &.stone-m#{$row}-#{$col} {
                top: -$blockSize*$row;
                left: $blockSize*$col;
            }
        }
    }
    
    @for $col from 0 through 9 {
        @for $row from 0 through 19 {
            &.stone-#{$row}-#{$col} {
                top: $blockSize*$row;
                left: $blockSize*$col;
            }
        }
    }

    /*
    keyframes hideStone {
        10% { opacity: 0.1 },
        20% { opacity: 0.2 },
        30% { opacity: 0.3 },
        40% { opacity: 0.4 },
        50% { opacity: 0.5 },
        60% { opacity: 0.6 },
        70% { opacity: 0.7 },
        80% { opacity: 0.8 },
        90% { opacity: 0.9 },
        100% { opacity: 1 }
    } */

    &.stone-hidden {
        opacity: 0;
        // animation: hideStone 0.5s ease;
    }

    &.swap-hide {
        opacity: 0;
    }
}
