name: Build and test project

# Controls when the action will run.
on:
  push:
    # On which branch
    branches: ["master"]
    # On which files
    # paths: ["scripts/scripts.js", "styles/styles.scss"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Sets up node
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm ci
      # Run default target of gulp
      - name: "Gulp 4"
        run: gulp
        env:
          CI_BUILD: 1
